body {
  width: 100%;
  background-color: #606060;
  color: white;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.note {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}
.center {
  background-color: #000;
  color: white;
  padding: 50px;
  margin: 2px 520px;
}
.pdng {
  margin: 10px;
  font-size: 18px;
}
